body {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

h1,
h2,
h3 {
  color: #eee;
  font-family: sans-serif;
  margin-top: 10px;
}

input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  outline: 0;
  padding: 4px 20px 0;
  height: 50px;
  margin-bottom: 20px;
}
button {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}
